[submodule "third_party/xml.c"]
	path = third_party/xml.c
	url = https://github.com/ooxi/xml.c.git
	ignore = dirty
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "third_party/Unity"]
	path = third_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
